    <div class="h-[calc(100vh-64px)] sm:h-[calc(100vh-5.25rem)]  flex flex-col justify-evenly items-center gap-4 sm:justify-center
container mx-auto sm:px-12 lg:px-20 xl:px-32">
        <div class="picture cursor-pointer">
            <div class="relative flex flex-col items-center">
                <img src="/assets/avatar.png" alt="avatar" class="w-28"/>
                <img
                        src="/assets/photo.png"
                        alt="photo"
                        class="w-10 absolute right-8 top-[-10px]"
                />
            </div>

            <p class="text-base text-white">Tap to change your avatar</p>
        </div>

        <div class="w-full">
            <form
                    [formGroup]="formGroup"
                    (ngSubmit)="onSubmit()"
                    class="sm:text-left p-8 mx-5 sm:p-4 sm:mx-20 md:mx-28  lg:mx-52 xl:mx-80 text-black  bg-white rounded-md md:rounded-xl"
            >
                <h2 class="text-xl font-medium md:text-2xl">
                    Change your infos
                </h2>
                <div>
                    <label for="email" class="block mb-2 mt-2">Email</label>
                    <input
                            type="text"
                            id="email"
                            class="border px-3 py-1 md:py-2 w-full"
                            formControlName="email"
                            placeholder="Example@gmail.com"
                    />
                </div>

                <div>
                    <label for="userName" class="block mb-2 mt-2">UserName</label>
                    <input
                            type="text"
                            id="userName"
                            class="border px-3 py-1 md:py-2 w-full"
                            formControlName="userName"
                            placeholder="user name"
                    />
                </div>

                <div>
                    <label for="password" class="block mb-2 mt-2">Password</label>
                    <input
                            type="password"
                            id="password"
                            class="border px-3 py-1 md:py-2 w-full"
                            formControlName="password"
                            placeholder="********"
                    />
                </div>

                <div>
                    <label for="rePassword" class="block mb-2 mt-2  ">Repeat Password</label>
                    <input
                            type="password"
                            id="rePassword"
                            class="border px-3 py-1 md:py-2 w-full"
                            formControlName="rePassword"
                            placeholder="********"
                    />
                </div>

                <button
                        type="submit"
                        class="bg-[#2ECC40] hover:bg-[#30e045] transition-all mt-5 w-full px-6 py-2 rounded-md text-white"
                >
                    Save
                </button>
            </form>
        </div>
    </div>
    <p class="h-1 bg-[#2ecc40] w-full"></p>

    <div class="mx-auto mt-28 container mx-auto sm:px-12 lg:px-20 xl:px-32">
        <h2
                class="text-white text-2xl lg:text-3xl xl:text-4xl text-center mb-14 font-medium"
        >
            Recent Canvas
        </h2>

        <div class="flex flex-wrap justify-center gap-10 mx-5 select-none">
            <!-- list canvas -->
            @for (canva of canvas; track canva.id) {
                <div>
                    <img [src]="canva.src" alt="" class="rounded-md cursor-pointer"/>

                    <div class="px-4 py-4 text-white">
                        <div class="flex justify-between mb-2">
                            <p class="text-lg sm:text-xl">{{ canva.name }}</p>

                            <!-- replace it with icon -->
                            <button (click)="onDelete(canva.id)" mat-fab>
                                <mat-icon class="text-red-500">delete</mat-icon>
                            </button>
                        </div>

                        <p>{{ canva.date }}</p>
                    </div>
                </div>
            }
        </div>
    </div>
