<div class="h-[calc(100vh-64px)] sm:h-[calc(100vh-5.25rem)]  flex flex-col justify-evenly items-center gap-4 sm:justify-center
container mx-auto sm:px-12 lg:px-20 xl:px-32">
  <div class="picture cursor-pointer flex flex-col items-center gap-2">
    <div class="relative flex flex-col items-center">
      <nz-avatar [nzSize]="100"
                 [nzSrc]="avatarUrl?.toString() ? avatarUrl?.toString() : dataUser.profilePicture?.toString()"
                 nzIcon="user">
      </nz-avatar>

      <nz-upload
        [nzShowUploadList]="false"
        class="w-10 absolute right-[-8px] top-[-8px]"
        (nzChange)="handleChange($event)"
        [nzHeaders]="{ authorization: 'authorization-text' }"
      >
        <button nz-button class="rounded-full">
          <nz-icon nzType="upload"/>
        </button>
      </nz-upload>
    </div>
    <button (click)="handlePicture()" nz-button nzType="primary" class="rounded-full hover:bg-[#30e045]
    bg-[#2ecc40]
    border-none ">change
    </button>


  </div>

  <div class="w-full">
    <form
      class="sm:text-left p-8 mx-5 sm:p-4 sm:mx-20 md:mx-28  lg:mx-52 xl:mx-80 text-black  bg-white rounded-md md:rounded-xl"
    >
      <h2 class="text-xl font-medium md:text-2xl">
        Change your infos
      </h2>
      <div>
        <label class="block mb-2 mt-2">Email</label>

        <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
          <input nz-input type="text"
                 value="{{dataUser.email}}"
                 nzSize="large"
                 disabled="{{isDisbaled}}"
                 placeholder="User name"
                 class="px-3 py-1 md:py-2 w-full hover:border-[#2ecc40] "
          /></nz-input-group>
        <ng-template #suffixIconSearch>
          <nz-icon (click)="handleEdit()" class="cursor-pointer" nzType="edit"/>
        </ng-template>

      </div>

      <div>
        <label class="block mb-2 mt-2">Username</label>

        <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
          <input nz-input type="text"
                 value="{{dataUser.username}}"
                 nzSize="large"
                 disabled="{{isDisbaled}}"
                 placeholder="User name"
                 class="px-3 py-1 md:py-2 w-full hover:border-[#2ecc40] "
          /></nz-input-group>
        <ng-template #suffixIconSearch>
          <nz-icon (click)="handleEdit()" class="cursor-pointer" nzType="edit"/>
        </ng-template>

      </div>
      <div>
        <label class="block mb-2 mt-2">Password</label>
        <input nz-input type="text"
               nzSize="large"
               placeholder="User name"
               class="px-3 py-1 md:py-2 w-full hover:border-[#2ecc40] "
        />
      </div>

      <div>
        <label class="block mb-2 mt-2  ">Repeat Password</label>
        <input nz-input type="text"
               nzSize="large"
               placeholder="User name"
               class="px-3 py-1 md:py-2 w-full hover:border-[#2ecc40] "
        />
      </div>

      <button nz-button
              class="bg-[#2ecc40] transition-all mt-5 w-full rounded-md text-white
                    hover:text-white border-none hover:bg-[#30e045] hover:"
              nzType="primary">Save
      </button>
    </form>
  </div>
</div>
<p class="h-1 bg-[#2ecc40] w-full"></p>

<div class="mx-auto mt-28 mb-28 container mx-auto sm:px-12 lg:px-20 xl:px-32">
  <h2
    class="text-white text-2xl lg:text-3xl xl:text-4xl text-center mb-14 font-medium"
  >
    Recent Canvas
  </h2>

  <div class="flex flex-wrap justify-center gap-10 mx-5 select-none">
    <!-- list canvas -->
    @for (canva of dataUser.rooms; track canva.id) {


      <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionEdit ,actionDelete]">
        <nz-card-meta
          nzTitle="{{canva.design }}"
          nzDescription="This is the description"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"/>
      </ng-template>
      <ng-template #actionEdit>
        <nz-icon nzType="edit"/>
      </ng-template>
      <ng-template #actionDelete>
        <nz-icon nzType="delete" (click)="onDelete(canva.codeRoom)"/>
      </ng-template>
    }
  </div>
</div>
