<nz-footer class="footer">
  <div class=" text-white">
      <div class="footer-content text-white flex justify-between m-5 rounded-lg px-20 pt-5">
        <div class="links flex flex-col">
          <b class="mb-2">BrainConnect</b>
          <div class="icons flex gap-5">
              <nz-icon nzType="youtube" nzTheme="fill" />
              <nz-icon nzType="facebook" nzTheme="fill" />
              <nz-icon nzType="instagram" nzTheme="fill" />
          </div>
          <a nz-typography nzType="success" href="/about" target="_self"
            >About Us</a
          >
          <a nz-typography nzType="success" href="/contact" target="_self"
            >Contact</a
          >
          <a nz-typography nzType="success" href="/privacy" target="_self"
            >Privacy Policy</a
          >
        </div>
        <div class="links flex flex-col">
          <b class="mb-2">Use cases</b>
          <a nz-typography nzType="success" href="/about" target="_self"
            >About Us</a
          >
          <a nz-typography nzType="success" href="/contact" target="_self"
            >Contact</a
          >
          <a nz-typography nzType="success" href="/privacy" target="_self"
            >Privacy Policy</a
          >
        </div>
        <div class="links flex flex-col">
          <b class="mb-2">Use cases</b>
          <a nz-typography nzType="success" href="/about" target="_self"
            >About Us</a
          >
          <a nz-typography nzType="success" href="/contact" target="_self"
            >Contact</a
          >
          <a nz-typography nzType="success" href="/privacy" target="_self"
            >Privacy Policy</a
          >
        </div>
        <div class="links flex flex-col">
          <b class="mb-2">Use cases</b>
          <a nz-typography nzType="success" href="/about" target="_self"
            >About Us</a
          >
          <a nz-typography nzType="success" href="/contact" target="_self"
            >Contact</a
          >
          <a nz-typography nzType="success" href="/privacy" target="_self"
            >Privacy Policy</a
          >
        </div>
    </div>
    <p class="copyright text-center p-2">
      © {{ currentYear }} BrainConnect. All rights reserved.
    </p>
  </div>
</nz-footer>

<!-- Demonstration Cube OLAP 
 
Explication of the new TP and the old
-->
