<p class="h-1 mb-10 bg-[#2ecc40] w-full"></p>

  <div class="container-fluid bg-[#122023]">
      <div class="flex justify-between items-center ">
        <div class="footer-content text-white flex justify-start m-10 xl:gap-52 gap-10 px-20 pt-5 ">
          <div class="links flex flex-col">
            <b class="mb-2">BrainConnect</b>
            <div class="icons flex justify-between gap-2">
                <nz-icon nzType="youtube" nzTheme="fill" />
                <nz-icon nzType="facebook" nzTheme="fill" />
                <nz-icon nzType="instagram" nzTheme="fill" />
                <nz-icon nzType="linkedin" nzTheme="fill" />
            </div>
          </div>
          <div class="links lg:flex flex-col hidden ">
            <b class="mb-2">Use cases</b>
            <a href="/about" target="_self"
              >About Us</a
            >
            <a href="/contact" target="_self"
              >Contact</a
            >
            <a href="/privacy" target="_self"
              >Privacy Policy</a
            >
          </div>
          <div class="links lg:flex hidden flex-col">
            <b class="mb-2">Explore</b>
            <a href="/about" target="_self"
              >About Us</a
            >
            <a href="/contact" target="_self"
              >Contact</a
            >
            <a href="/privacy" target="_self"
              >Privacy Policy</a
            >
          </div>
          <div class="links lg:flex hidden flex-col">
            <b class="mb-2">Ressources</b>
            <a href="/about" target="_self"
              >About Us</a
            >
            <a href="/contact" target="_self"
              >Contact</a
            >
            <a href="/privacy" target="_self"
              >Privacy Policy</a
            >
          </div>
            </div>
            <img class="h-52" src="/assets/home/logo-white.png" >
      </div>
    <p class="copyright text-center text-white p-2">
      © {{ currentYear }} BrainConnect. All rights reserved.
    </p>
  </div>

<!-- Demonstration Cube OLAP 
 
Explication of the new TP and the old
-->
