<section class="container mx-auto gap-12 flex flex-col justify-center
items-center px-5 md:flex-col

sm:px-12 lg:px-20 xl:px-32 h-[calc(100vh-64px)] sm:h-[calc(100vh-64px-1.25rem)]">
  <div class="leftSide leading-6 flex flex-col items-center">
    <h1 class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-white font-bold">Brain connect</h1>
    <p class="text-2xl sm:text-2xl mt-5 lg:text-3xl xl:text-4xl text-white font-serif">create together</p>
  </div>
  <div class="rounded-lg w-56 md:w-72 flex gap-3 flex-col  items-center">
    <input class="w-full bg-white  placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200
     rounded-md
     px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300
     shadow-sm focus:shadow" placeholder="Insert a room ID....">
    <span class="text-white">Or</span>
    <button class=" rounded-md w-full justify-center text-white flex bg-[#2ecc40] px-3 py-2 ">
      <mat-icon class="text-white mr-2" fontIcon="add_circle"></mat-icon>
      Create your own
    </button>
  </div>

</section>

<p class="h-1 bg-[#2ecc40] w-full"></p>


<footer class="h-96 bg-white">

</footer>
