<section
  class="container mx-auto gap-12 flex flex-col justify-center items-center px-5 md:flex-col sm:px-12 lg:px-20 xl:px-32 h-[calc(100vh-64px)] sm:h-[calc(100vh-64px-1.25rem)]"
>
  <div class="leftSide leading-6 flex flex-col items-center">
    <h1
      class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-white font-bold"
    >
      Brain connect
    </h1>
    <p
      class="text-2xl sm:text-2xl mt-5 lg:text-3xl xl:text-4xl text-white font-serif"
    >
      create together
    </p>
  </div>
  <div class="rounded-lg w-56 md:w-72 flex gap-3 flex-col items-center">

    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input [(ngModel)]="roomCode" type="text" nz-input placeholder="Type the room ID..." />
    </nz-input-group>

    <ng-template #suffixButton class="rounded-md">
      <button (click)="goToRoom()" nz-button class="text-white bg-[#2ecc40]" nzSize="large">Go</button>
    </ng-template>


    <span class="text-white">Or</span>

    <button
      (click)="showModalMiddle()"
      class="rounded-md w-full justify-center text-white flex bg-[#2ecc40] px-3 py-2"
    >
      <mat-icon class="text-white mr-2" fontIcon="add_circle"></mat-icon>
      Create your own
    </button>

    <nz-modal
      [(nzVisible)]="isVisibleMiddle"
      nzTitle="Create a Room"
      nzCentered
      (nzOnCancel)="handleCancelMiddle()"
      (nzOnOk)="handleOkMiddle()"
    >
      <ng-container *nzModalContent>
        <form nz-form [formGroup]="roomForm" (ngSubmit)="submitForm()">
        
        
        
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Room Title</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input your room title!">
              <input nz-input formControlName="title" placeholder="Enter room title"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzOffset]="6" [nzSpan]="14">
              <button nz-button nzType="primary" [disabled]="!roomForm.valid">Create Room</button>
            </nz-form-control>
          </nz-form-item>


        </form>
      </ng-container>
      <div *nzModalFooter>

      </div>
    </nz-modal>
  </div>
</section>

<ng-template #template>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
            <nz-icon nzType="check" nzTheme="outline" class="text-green-500"/>
      </span>
      <div class="ant-notification-notice-message">Room Created Successfully</div>
      <div class="ant-notification-notice-description">
        Your new room has been created successfully.
      </div>
    </div>
  </div>
</ng-template>


<p class="h-1 bg-[#2ecc40] w-full"></p>
