body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

canvas {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/editor/EditorBackground.png");
  background-size: cover;
}

::ng-deep .ant-color-picker-trigger {
  border: none !important; /* Remove the border */
  box-shadow: none !important; /* Remove any box shadow */
}


