canvas{
  border: 1px solid #ffffff;
  background-image: url('/assets/editor/EditorBackground.png');

}

::ng-deep .ant-color-picker-trigger {
  border: none !important;
  box-shadow: none !important;
}


