canvas {
  border: 1px solid #ffffff;
  background-image: url('/assets/editor/EditorBackground.png');
}

::ng-deep .ant-color-picker-trigger {
  border: none !important;
  box-shadow: none !important;
}

::ng-deep .canvas-container {
  width: 0px !important;
  height: 0px !important;
}

#canvas {
  width: 100vw !important;
  height: 100vh !important;
}

::ng-deep .upper-canvas {
  width: 100vw !important;
  height: 100vh !important;
}
