<section class="container px-5 items-center flex
justify-evenly sm:justify-between flex-col sm:flex-row
mx-auto h-[calc(100vh-64px)]  sm:h-[calc(100vh-64px-1.25rem)]
 bg-[#122023] sm:px-12 lg:px-20 xl:px-32">


  <div class="leftSide flex flex-col sm:w-3/4 gap-4 items-center sm:items-start">
    <h1 class="text-5xl sm:text-5xl lg:text-7xl xl:text-8xl text-white font-bold">Brain connect</h1>
    <p class="text-2xl sm:text-2xl lg:text-3xl xl:text-4xl text-white font-serif">create together</p>
  </div>
  <div class="sm:w-2/4 flex justify-end">
    <div class="flex flex-col items-center">
      <button class="text-white bg-[#2ecc40] py-2 w-32 rounded-lg sm:w-35">
        Login
      </button>
      <span class="p-2 text-white">Or</span>
      <button class="text-white bg-[#2ecc40] py-2 w-32 rounded-lg sm:w-35">
        Sign up
      </button>
    </div>
  </div>
</section>
<p class="h-1 bg-[#2ecc40] w-full"></p>
<aside class="container mx-auto px-5 flex justify-evenly sm:justify-between flex-col sm:flex-row
 h-[500px] sm:h-96 items-center bg-[#122023] sm:px-12 lg:px-20 xl:px-32">
  <div class="picleft h-1/2 sm:w-1/2 flex items-center">
    <img class="w-80 sm:w-96 " src="https://compasshealth.ca/assets/images/undraw_collab.svg">
  </div>
  <div class="h-1/2 sm:w-1/2 flex items-center">
    <h1 class="text-white text-xl sm:text-[16px]
    lg:text-2xl xl:text-3xl sm:leading-10 text-center font-bold">
      "Create Together. Collaborate in real-
      time on a shared canvas, bringing
      your team's ideas into focus."
    </h1>
  </div>
</aside>

<p class="h-1 bg-[#2ecc40] w-full"></p>


<footer class="h-96 bg-white">

</footer>

